footer{
    background-color: #1b1f23;
}
footer aside{
    padding: 40px 0px;
}
footer aside div.widget{
    margin-bottom: 40px;
}

@media ( max-width:480px ){
    footer aside div.row div[class^="col-"]{
        display: block;
        width: 100%;
    }
}

footer div.mythemes-dark-mask{
    background-color: rgba( 0, 0, 0, 0.1 );
}

footer div.mythemes-copyright{
    border-top: 1px solid rgba( 255, 255, 255, 0.02 );
}

footer .mythemes-copyright p{
    color: #49555e;

    font-family: sans-serif, Arial, serif;
    font-size: 13px;
    line-height: 18px;

    padding: 28px 0px;
    margin: 0px;

    text-align: center;
}
footer .mythemes-copyright a{
    color: #f7faff;
}
footer .mythemes-copyright a:hover{
    color: #ffffff;
    text-decoration: underline;
}

footer .mythemes-copyright a.mythemes{
    font-family: sans-serif, Arial, serif;
    font-size: 14px;
    font-weight: bold;
}


/* SOCIAL ICONS */
footer div.mythemes-social{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

div.mythemes-social [class^="icon-"]:before,
div.mythemes-social [class*="icon-"]:before {
    font-size: 14px;
    color: #ffffff;
 
    width: 40px;
    line-height: 40px;


    opacity: 1.0;
    filter:alpha(opacity=100);

    text-align: center;

    -webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}

footer div.mythemes-social a{
    display: inline-block;

    width: 40px;
    height: 40px;

    margin: 5px;

    text-align: center;

    -webkit-box-shadow: 0px 0px 4px rgba( 0, 0, 0, 0.4 );
       -moz-box-shadow: 0px 0px 4px rgba( 0, 0, 0, 0.4 );
            box-shadow: 0px 0px 4px rgba( 0, 0, 0, 0.4 );

    opacity: 0.70;
    filter:alpha(opacity=70);

    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;

    -webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
footer div.mythemes-social a:before{
    -webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
footer div.mythemes-social a:hover{
    opacity: 1.0;
    filter:alpha(opacity=100);    
}
footer div.mythemes-social a:hover:before{
    color: #ffffff;
    text-decoration: none;
}

footer div.mythemes-social a.icon-rss{ background: #ff7600; }
footer div.mythemes-social a.icon-smashing{ background: #ff462c; }
footer div.mythemes-social a.icon-flickr{ background: #0062dd; }
footer div.mythemes-social a.icon-vimeo{ background: #00beff; }
footer div.mythemes-social a.icon-vimeo-circled{ background: #00beff; }
footer div.mythemes-social a.icon-twitter{ background: #00b0ef; }
footer div.mythemes-social a.icon-facebook{ background: #265999; }
footer div.mythemes-social a.icon-gplus{ background: #f32e31; }
footer div.mythemes-social a.icon-pinterest{ background: #ef0021; }
footer div.mythemes-social a.icon-tumblr{ background: #174863; }
footer div.mythemes-social a.icon-linkedin{ background: #0082b2; }
footer div.mythemes-social a.icon-dribbble{ background: #ff2788; }
footer div.mythemes-social a.icon-stumbleupon{ background: #ff2419; }
footer div.mythemes-social a.icon-lastfm{ background: #fb0000; }
footer div.mythemes-social a.icon-github{ background: #0084c5; }
footer div.mythemes-social a.icon-instagram{ background: #00749c; }
footer div.mythemes-social a.icon-dropbox{ background: #0083d1; }
footer div.mythemes-social a.icon-evernote{ background: #7ac142; }
footer div.mythemes-social a.icon-flattr{ background: #ff6f00; }
footer div.mythemes-social a.icon-skype{ background: #00b3f2; }
footer div.mythemes-social a.icon-renren{ background: #0d80e4; }
footer div.mythemes-social a.icon-picasa{ background: #415e5f; }
footer div.mythemes-social a.icon-soundcloud{ background: #ff4f00; }
footer div.mythemes-social a.icon-mixi{ background: #d1ad5a; }
footer div.mythemes-social a.icon-behance{ background: #0066ff; }
footer div.mythemes-social a.icon-google-circles{ background: #f32e31; }
footer div.mythemes-social a.icon-vkontakte{ background: #4E729A; }
footer div.mythemes-social a.icon-rdio{ background: #006ed4; }

@media ( min-width: 992px ) and (max-width: 1199px ){
}
@media ( min-width: 768px ) and ( max-width: 991px ){
}
@media ( min-width: 481px ) and ( max-width: 767px ){
    footer .mythemes-copyright p{
        text-align: center;
    }
    footer div.mythemes-social{
        margin-top: 30px;
        text-align: center;
    }
}
@media ( max-width:480px ){
    footer .mythemes-copyright p{
        text-align: center;
    }
    footer div.mythemes-social{
        margin-top: 30px;
        text-align: center;
    }
}

div.mythemes-scroll-up{
    position: fixed;

    right: 20px;
    bottom: 20px;
    background: rgba( 0, 0, 0, 0.05 );
    text-align: center;
    display: block;
    width: 40px;
    height: 40px;

    z-index: -1;

    opacity: 0;
    filter: alpha(opacity=0);

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;

    -webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}

div.mythemes-scroll-up.show-scroll-up{
    z-index: 100;
    opacity: 1.0;
    filter: alpha(opacity=100);
}

div.mythemes-scroll-up:hover{
    background: rgba( 0, 0, 0, 0.5 );
}

div.mythemes-scroll-up a{
    color: #999999;
    display: block;
    line-height: 40px;
}

div.mythemes-scroll-up a:hover{
    color: #ffffff;
}