div.mythemes-visible-navigation {
  width: 0px;
  height: 0px;
  display: none;
  visibility: hidden;
}
@media ( min-width: 1025px ) {
  div.mythemes-visible-navigation {
    display: none;
    visibility: hidden;
  }
}
@media ( max-width: 1024px ) {
  div.mythemes-visible-navigation {
    display: block;
    visibility: visible;
  }
}
@media ( min-width: 1025px ) {
  div.jspVerticalBar {
    display: none !important;
  }
  div.jspContainer {
    overflow: inherit !important;
    position: relative !important;
    height: auto !important;
    width: auto !important;
  }
  div.jspPane {
    position: relative !important;
    width: auto !important;
  }
}
@media ( max-width: 1024px ) {
  div.jspVerticalBar {
    display: block !important;
  }
  div.jspContainer {
    height: -webkit-calc( 100vh - 120px );
    height: -moz-calc( 100vh - 120px );
    height: -ms-calc( 100vh - 120px );
    height: -o-calc( 100vh - 120px );
    height: calc( 100vh - 120px );
  }
  div.jspScrollable,
  div.jspContainer,
  div.jspPane,
  .jspVerticalBar .jspArrow,
  div.jspScrollable:focus,
  div.jspContainer:focus,
  div.jspPane:focus,
  .jspVerticalBar .jspArrow:focus,
  div.jspScrollable:active,
  div.jspContainer:active,
  div.jspPane:active,
  .jspVerticalBar .jspArrow:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    outline: 0;
    outline: none;
    outline: 0 none \9;
    outline: unset;
    outline-width: 0;
    outline-style: none;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 0;
    filter: -;
  }
}
div.mythemes-topper {
  width: 100%;
  background: #1b1f23;
}
@media ( max-width: 1024px ) {
  div.mythemes-topper {
    height: auto;
    max-height: 100%;
  }
}
div.mythemes-topper div.mythemes-header-antet button.btn-collapse {
  background-color: #26ad60;
  color: #ffffff;
  width: 51px;
  height: 32px;
  margin-top: 19px;
  text-align: center;
  float: right;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
div.mythemes-topper div.mythemes-header-antet button.btn-collapse:focus,
div.mythemes-topper div.mythemes-header-antet button.btn-collapse:hover {
  background-color: #00aeef;
}
@media ( min-width: 1025px ) {
  div.mythemes-topper div.mythemes-header-antet button.btn-collapse,
  div.mythemes-topper div.mythemes-header-antet button.btn-collapse.collapsed {
    display: none;
  }
}
@media ( max-width: 1024px ) {
  div.mythemes-topper div.mythemes-header-antet button.btn-collapse {
    display: block;
  }
  div.mythemes-topper div.mythemes-header-antet button.btn-collapse.collapsed {
    display: none;
  }
}
div.mythemes-topper nav.header-menu button.btn-collapse {
  background: transparent;
  float: right;
  position: fixed;
  padding: 0px;
  top: 16px;
  text-align: center;
  width: 52px;
  height: 38px;
  right: -webkit-calc( 5% - 24px );
  right: -moz-calc( 5% - 24px );
  right: -ms-calc( 5% - 24px );
  right: -o-calc( 5% - 24px );
  right: calc( 5% - 24px );
}
div.mythemes-topper nav.header-menu button.btn-collapse i {
  font-size: 28px;
  line-height: 38px;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
div.mythemes-topper nav.header-menu button.btn-collapse i:hover {
  color: #ffffff;
}
@media ( min-width: 1025px ) {
  div.mythemes-topper nav.header-menu button.btn-collapse,
  div.mythemes-topper nav.header-menu button.btn-collapse.collapsed {
    display: none;
  }
}
@media ( max-width: 1024px ) {
  div.mythemes-topper nav.header-menu button.btn-collapse {
    display: none;
  }
  div.mythemes-topper nav.header-menu button.btn-collapse.collapsed {
    display: block;
  }
}
div.mythemes-topper nav.header-menu ul.mythemes-menu-list li {
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
}
div.mythemes-topper nav.header-menu ul.mythemes-menu-list li a {
  color: #919497;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
div.mythemes-topper nav.header-menu ul.mythemes-menu-list li a.current-menu-ancestor > a,
div.mythemes-topper nav.header-menu ul.mythemes-menu-list li a:hover > a,
div.mythemes-topper nav.header-menu ul.mythemes-menu-list li a.current-menu-item > a,
div.mythemes-topper nav.header-menu ul.mythemes-menu-list li a a:hover {
  color: #ffffff;
}
@media ( min-width: 1025px ) {
  div.mythemes-topper nav.header-menu {
    padding: 15px 0px;
    width: 100%;
    text-align: right;
  }
  div.mythemes-topper nav.header-menu ul.mythemes-menu-list li:hover > ul {
    display: block;
  }
  div.mythemes-topper nav.header-menu ul.mythemes-menu-list > li {
    margin: 0px 5px;
  }
  div.mythemes-topper nav.header-menu ul.mythemes-menu-list > li > ul > li {
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    border-right: 1px solid rgba(0, 0, 0, 0.05);
  }
  div.mythemes-topper nav.header-menu ul.mythemes-menu-list > li > ul > li:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  div.mythemes-topper nav.header-menu ul.mythemes-menu-list > li > ul > li ul li {
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    border-right: 1px solid rgba(0, 0, 0, 0.05);
  }
  div.mythemes-topper nav.header-menu ul.mythemes-menu-list > li > ul > li ul li:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
  div.mythemes-topper nav.header-menu ul.mythemes-menu-list > li > ul > li ul li:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  div.mythemes-topper nav.header-menu ul.mythemes-menu-list > li.current-menu-ancestor > a,
  div.mythemes-topper nav.header-menu ul.mythemes-menu-list > li.current-menu-item > a {
    background-color: #26ad60;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
  }
  div.mythemes-topper nav.header-menu ul.mythemes-menu-list > li.menu-item-has-children > a:after,
  div.mythemes-topper nav.header-menu ul.mythemes-menu-list > li.menu-item-has-children > a::after {
    content: '\e8d8';
    margin-left: 8px;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    speak: none;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
  }
  div.mythemes-topper nav.header-menu ul.mythemes-menu-list > li > a {
    padding: 11px 15px;
  }
  div.mythemes-topper nav.header-menu ul.mythemes-menu-list > li > ul {
    padding-top: 15px;
  }
  div.mythemes-topper nav.header-menu ul.mythemes-menu-list > li > ul:before,
  div.mythemes-topper nav.header-menu ul.mythemes-menu-list > li > ul::before {
    position: absolute;
    background-color: #26ad60;
    content: '';
    top: 8px;
    left: 0px;
    width: 25px;
    height: 4px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
  }
  div.mythemes-topper nav.header-menu ul.mythemes-menu-list > li > ul:after,
  div.mythemes-topper nav.header-menu ul.mythemes-menu-list > li > ul::after {
    position: absolute;
    border-top: 3px solid #26ad60;
    content: '';
    top: 12px;
    left: 0px;
    height: 0px;
    width: -webkit-calc( 100% + 1px );
    width: -moz-calc( 100% + 1px );
    width: -ms-calc( 100% + 1px );
    width: -o-calc( 100% + 1px );
    width: calc( 100% + 1px );
  }
  div.mythemes-topper nav.header-menu ul.mythemes-menu-list > li > ul > li:first-child {
    border-top: 0px;
  }
  div.mythemes-topper nav.header-menu ul.mythemes-menu-list ul {
    background-color: transparent;
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 200px;
    z-index: 100;
    text-align: left;
    z-index: 10002;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  div.mythemes-topper nav.header-menu ul.mythemes-menu-list ul li {
    background-color: rgba(17, 21, 25, 0.85);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    width: 201px;
    padding: 11px 15px;
    -webkit-font-smoothing: antialiased;
  }
  div.mythemes-topper nav.header-menu ul.mythemes-menu-list ul li.menu-item-has-children > a:after,
  div.mythemes-topper nav.header-menu ul.mythemes-menu-list ul li.menu-item-has-children > a::after {
    content: '\e8d6';
    float: right;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    speak: none;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
  }
  div.mythemes-topper nav.header-menu ul.mythemes-menu-list ul li,
  div.mythemes-topper nav.header-menu ul.mythemes-menu-list ul li a {
    display: block;
    font-size: 12px;
    font-weight: 300;
  }
  div.mythemes-topper nav.header-menu ul.mythemes-menu-list ul ul {
    margin: -30px 0px 30px 185px;
  }
  div.mythemes-topper nav.header-menu ul.mythemes-menu-list span.menu-arrow {
    display: none;
    font-size: 0px;
    line-height: 0px;
    height: 0px;
    width: 0px;
  }
}
@media ( max-width: 1024px ) {
  div.mythemes-topper nav.header-menu {
    display: none;
    background-color: #1b1f23;
    position: fixed;
    overflow: hidden;
    padding: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100%;
    z-index: 10003;
  }
  div.mythemes-topper nav.header-menu.in {
    display: block;
    text-align: left;
    max-height: -webkit-calc( 100% - 66px );
    max-height: -moz-calc( 100% - 66px );
    max-height: -ms-calc( 100% - 66px );
    max-height: -o-calc( 100% - 66px );
    max-height: calc( 100% - 66px );
  }
  div.mythemes-topper nav.header-menu div.menu-list-pre-wrapper {
    width: 90%;
    display: block;
    margin: 70px auto 50px auto;
    min-height: -webkit-calc( 100% - 120px );
    min-height: -moz-calc( 100% - 120px );
    min-height: -ms-calc( 100% - 120px );
    min-height: -o-calc( 100% - 120px );
    min-height: calc( 100% - 120px );
    max-height: -webkit-calc( 100% - 120px );
    max-height: -moz-calc( 100% - 120px );
    max-height: -ms-calc( 100% - 120px );
    max-height: -o-calc( 100% - 120px );
    max-height: calc( 100% - 120px );
  }
  div.mythemes-topper nav.header-menu div.menu-list-pre-wrapper div.menu-list-wrapper {
    position: absolute;
    width: 90%;
    min-height: -webkit-calc( 100% - 120px );
    min-height: -moz-calc( 100% - 120px );
    min-height: -ms-calc( 100% - 120px );
    min-height: -o-calc( 100% - 120px );
    min-height: calc( 100% - 120px );
    max-height: -webkit-calc( 100% - 120px );
    max-height: -moz-calc( 100% - 120px );
    max-height: -ms-calc( 100% - 120px );
    max-height: -o-calc( 100% - 120px );
    max-height: calc( 100% - 120px );
  }
  div.mythemes-topper nav.header-menu div.menu-list-pre-wrapper div.menu-list-wrapper ul.mythemes-menu-list {
    padding: 0px;
    text-align: left;
  }
  div.mythemes-topper nav.header-menu div.menu-list-pre-wrapper div.menu-list-wrapper ul.mythemes-menu-list,
  div.mythemes-topper nav.header-menu div.menu-list-pre-wrapper div.menu-list-wrapper ul.mythemes-menu-list li {
    display: block;
  }
  div.mythemes-topper nav.header-menu div.menu-list-pre-wrapper div.menu-list-wrapper ul.mythemes-menu-list > li:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.04);
  }
  div.mythemes-topper nav.header-menu div.menu-list-pre-wrapper div.menu-list-wrapper ul.mythemes-menu-list li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.04);
  }
  div.mythemes-topper nav.header-menu div.menu-list-pre-wrapper div.menu-list-wrapper ul.mythemes-menu-list li:last-child {
    border: none;
  }
  div.mythemes-topper nav.header-menu div.menu-list-pre-wrapper div.menu-list-wrapper ul.mythemes-menu-list li a {
    font-size: 18px;
    line-height: 24px;
    margin-right: 61px;
    padding: 11px 10px 11px 3px;
  }
  div.mythemes-topper nav.header-menu div.menu-list-pre-wrapper div.menu-list-wrapper ul.mythemes-menu-list li.menu-item-has-children {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  div.mythemes-topper nav.header-menu div.menu-list-pre-wrapper div.menu-list-wrapper ul.mythemes-menu-list li.menu-item-has-children span.menu-arrow {
    display: block;
    float: right;
    width: 36px;
    height: 34px;
    margin: 5px 1px 0px 25px;
    text-align: center;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  div.mythemes-topper nav.header-menu div.menu-list-pre-wrapper div.menu-list-wrapper ul.mythemes-menu-list li.menu-item-has-children span.menu-arrow:before,
  div.mythemes-topper nav.header-menu div.menu-list-pre-wrapper div.menu-list-wrapper ul.mythemes-menu-list li.menu-item-has-children span.menu-arrow::before {
    background-color: #26ad60;
    content: '\e8d8';
    color: rgba(255, 255, 255, 0.7);
    display: block;
    font-size: 18px;
    line-height: 24px;
    width: 36px;
    padding: 5px 10px;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    speak: none;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  div.mythemes-topper nav.header-menu div.menu-list-pre-wrapper div.menu-list-wrapper ul.mythemes-menu-list li.menu-item-has-children span.menu-arrow:before:hover,
  div.mythemes-topper nav.header-menu div.menu-list-pre-wrapper div.menu-list-wrapper ul.mythemes-menu-list li.menu-item-has-children span.menu-arrow::before:hover {
    cursor: pointer;
  }
  div.mythemes-topper nav.header-menu div.menu-list-pre-wrapper div.menu-list-wrapper ul.mythemes-menu-list li.menu-item-has-children span.menu-arrow:hover {
    cursor: pointer;
  }
  div.mythemes-topper nav.header-menu div.menu-list-pre-wrapper div.menu-list-wrapper ul.mythemes-menu-list li.menu-item-has-children:hover > span.menu-arrow:before,
  div.mythemes-topper nav.header-menu div.menu-list-pre-wrapper div.menu-list-wrapper ul.mythemes-menu-list li.menu-item-has-children:hover > span.menu-arrow::before {
    background-color: #00aeef;
    color: #ffffff;
  }
  div.mythemes-topper nav.header-menu div.menu-list-pre-wrapper div.menu-list-wrapper ul.mythemes-menu-list li.menu-item-has-children.collapsed > span.menu-arrow:before,
  div.mythemes-topper nav.header-menu div.menu-list-pre-wrapper div.menu-list-wrapper ul.mythemes-menu-list li.menu-item-has-children.collapsed > span.menu-arrow::before {
    background-color: #00aeef;
    content: '\e8d7';
    color: rgba(255, 255, 255, 0.9);
  }
  div.mythemes-topper nav.header-menu div.menu-list-pre-wrapper div.menu-list-wrapper ul.mythemes-menu-list li.current-menu-ancestor {
    margin-left: 8px;
  }
  div.mythemes-topper nav.header-menu div.menu-list-pre-wrapper div.menu-list-wrapper ul.mythemes-menu-list li ul {
    display: none;
    padding-left: 15px;
  }
  div.mythemes-topper nav.header-menu div.menu-list-pre-wrapper div.menu-list-wrapper ul.mythemes-menu-list li ul > li:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.04);
  }
}
body.scroll-nav div.mythemes-topper {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10002;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
body.scroll-nav.admin-bar div.mythemes-topper {
  top: 32px;
}
@media ( max-width: 782px ) {
  body.scroll-nav.admin-bar div.mythemes-topper {
    top: 46px;
  }
}
@media ( max-width: 600px ) {
  body.scroll-nav.admin-bar div.mythemes-topper {
    top: 0px;
  }
}
body.admin-bar div.mythemes-topper nav.header-menu button.btn-collapse {
  top: 48px;
}
@media ( max-width: 782px ) {
  body.admin-bar div.mythemes-topper nav.header-menu button.btn-collapse {
    top: 60px;
  }
}
@media ( max-width: 600px ) {
  body.admin-bar div.mythemes-topper nav.header-menu button.btn-collapse {
    top: 60px;
  }
}
@media ( max-width: 1024px ) {
  body.admin-bar div.mythemes-topper div.mythemes-dark-mask,
  body.admin-bar div.mythemes-topper nav.header-menu {
    top: 32px;
    min-height: -webkit-calc( 100% - 32px );
    min-height: -moz-calc( 100% - 32px );
    min-height: -ms-calc( 100% - 32px );
    min-height: -o-calc( 100% - 32px );
    min-height: calc( 100% - 32px );
  }
}
@media ( max-width: 782px ) {
  body.admin-bar div.mythemes-topper div.mythemes-dark-mask,
  body.admin-bar div.mythemes-topper nav.header-menu {
    top: 46px;
    min-height: -webkit-calc( 100% - 46px );
    min-height: -moz-calc( 100% - 46px );
    min-height: -ms-calc( 100% - 46px );
    min-height: -o-calc( 100% - 46px );
    min-height: calc( 100% - 46px );
  }
}
@media ( max-width: 1024px ) {
  body.admin-bar div.mythemes-topper div.jspContainer {
    height: -webkit-calc( 100vh - 152px );
    height: -moz-calc( 100vh - 152px );
    height: -ms-calc( 100vh - 152px );
    height: -o-calc( 100vh - 152px );
    height: calc( 100vh - 152px );
  }
}
@media ( max-width: 782px ) {
  body.admin-bar div.mythemes-topper div.jspContainer {
    height: -webkit-calc( 100vh - 166px );
    height: -moz-calc( 100vh - 166px );
    height: -ms-calc( 100vh - 166px );
    height: -o-calc( 100vh - 166px );
    height: calc( 100vh - 166px );
  }
}
@media ( max-width: 600px ) {
  body.admin-bar.scrolled-46 div.mythemes-topper div.mythemes-dark-mask,
  body.admin-bar.scrolled-46 div.mythemes-topper nav.header-menu {
    top: 0px;
    min-height: 100%;
  }
  body.admin-bar.scrolled-46 div.mythemes-topper nav.header-menu button.btn-collapse {
    top: 14px;
  }
  body.admin-bar.scrolled-46 div.mythemes-topper div.jspContainer {
    height: -webkit-calc( 100vh - 134px );
    height: -moz-calc( 100vh - 134px );
    height: -ms-calc( 100vh - 134px );
    height: -o-calc( 100vh - 134px );
    height: calc( 100vh - 134px );
  }
}
