*{
	font-style:normal;
	font-variant:normal;
	font-weight:normal;	
}
body,html{
	font-family: sans-serif, Arial, serif;
	font-size: 14px;
	line-height: 24px;

	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}
a{
    color: #00aeef;
	-webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
       -ms-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
a:hover{
    color: #26ad60;
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    font-family: Helvetica, Arial, sans-serif, serif;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;

    color: #252525;
}

.hentry h1,
article h1,
.hentry h2,
article h2,
.hentry h3,
article h3,
.hentry h4,
article h4,
.hentry h5,
article h5,
.hentry h6,
article h6{
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
}

.hentry h1,
article h1{
    font-size: 34px;
    line-height: 42px;
}

.hentry h2,
article h2{
    font-size: 31px;
    margin-top: 39px;
    margin-bottom: 15px;
}

.hentry h3,
article h3{
    font-size: 28px;
    margin-top: 36px;
    margin-bottom: 10px;
}

.hentry h4,
article h4{
    font-size: 24px;
    margin-top: 32px;
    margin-bottom: 10px;
}

.hentry h5,
article h5{
    font-size: 20px;
    margin-top: 28px;
    margin-bottom: 15px;
}

.hentry h6,
article h6{
    font-size: 18px;
    margin-top: 26px;
    margin-bottom: 15px;
}

/* POST TITLE */
.hentry h1.post-title,
article h1.post-title{
    margin-top: 0px;
    margin-bottom: 10px;
}

/* BREADCRUMBS */
.mythemes-page-header h1{
    font-size: 36px;
    line-height: 40px;
}

/* RESPONSIVE RULES */
@media (min-width: 1200px ){
    .hentry h1.post-title,
    article h1.post-title,
    .hentry h2.post-title,
    article h2.post-title,
    .hentry h1,
    article h1{
        font-size: 34px;
        line-height: 42px;
    }

    .hentry h2,
    article h2{
        font-size: 31px;
        margin-top: 39px;
        margin-bottom: 15px;
    }

    .hentry h3,
    article h3{
        font-size: 28px;
        margin-top: 36px;
        margin-bottom: 10px;
    }

    .hentry h4,
    article h4{
        font-size: 24px;
        margin-top: 32px;
        margin-bottom: 10px;
    }

    .hentry h5,
    article h5{
        font-size: 20px;
        margin-top: 28px;
        margin-bottom: 15px;
    }

    .hentry h6,
    article h6{
        font-size: 18px;
        margin-top: 26px;
        margin-bottom: 15px;
    }


    /* BREADCRUMBS */
    .mythemes-page-header h1{
        font-size: 36px;
        line-height: 40px;
    }
}
@media ( min-width: 992px ) and (max-width: 1199px ){
    .hentry h1.post-title,
    article h1.post-title,
    .hentry h2.post-title,
    article h2.post-title,
    .hentry h1,
    article h1{
        font-size: 32px;
        line-height: 40px;
    }

    .hentry h2,
    article h2{
        font-size: 28px;
        margin-top: 36px;
        margin-bottom: 15px;
    }

    .hentry h3,
    article h3{
        font-size: 25px;
        margin-top: 33px;
        margin-bottom: 10px;
    }

    .hentry h4,
    article h4{
        font-size: 22px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .hentry h5,
    article h5{
        font-size: 19px;
        margin-top: 27px;
        margin-bottom: 15px;
    }

    .hentry h6,
    article h6{
        font-size: 17px;
        margin-top: 25px;
        margin-bottom: 15px;
    }

    /* BREADCRUMBS */
    .mythemes-page-header h1{
        font-size: 33px;
        line-height: 36px;
    }
}
@media ( min-width: 768px ) and ( max-width: 991px ){
    .hentry h1.post-title,
    article h1.post-title,
    .hentry h2.post-title,
    article h2.post-title,
    .hentry h1,
    article h1{
        font-size: 30px;
        line-height: 36px;
    }

    .hentry h2,
    article h2{
        font-size: 27px;
        margin-top: 33px;
        margin-bottom: 15px;
    }

    .hentry h3,
    article h3{
        font-size: 24px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .hentry h4,
    article h4{
        font-size: 20px;
        margin-top: 26px;
        margin-bottom: 10px;
    }

    .hentry h5,
    article h5{
        font-size: 18px;
        margin-top: 24px;
        margin-bottom: 15px;
    }

    .hentry h6,
    article h6{
        font-size: 16px;
        margin-top: 22px;
        margin-bottom: 15px;
    }

    /* BREADCRUMBS */
    .mythemes-page-header h1{
        font-size: 30px;
        line-height: 33px;
    }
}
@media ( min-width: 481px ) and ( max-width: 767px ){
    .hentry h1.post-title,
    article h1.post-title,
    .hentry h2.post-title,
    article h2.post-title,
    .hentry h1,
    article h1{
        font-size: 27px;
        line-height: 33px;
    }

    .hentry h2,
    article h2{
        font-size: 25px;
        margin-top: 31px;
        margin-bottom: 15px;
    }

    .hentry h3,
    article h3{
        font-size: 22px;
        margin-top: 28px;
        margin-bottom: 10px;
    }

    .hentry h4,
    article h4{
        font-size: 19px;
        margin-top: 25px;
        margin-bottom: 10px;
    }

    .hentry h5,
    article h5{
        font-size: 17px;
        margin-top: 23px;
        margin-bottom: 10px;
    }

    .hentry h6,
    article h6{
        font-size: 15px;
        margin-top: 21px;
        margin-bottom: 10px;
    }

    /* BREADCRUMBS */
    .mythemes-page-header h1{
        font-size: 27px;
        line-height: 30px;
    }
}
@media ( max-width: 480px ){
    .hentry h1.post-title,
    article h1.post-title,
    .hentry h2.post-title,
    article h2.post-title,
    .hentry h1,
    article h1{
        font-size: 24px;
        line-height: 30px;
    }

    .hentry h2,
    article h2{
        font-size: 22px;
        margin-top: 28px;
        margin-bottom: 15px;
    }

    .hentry h3,
    article h3{
        font-size: 20px;
        margin-top: 26px;
        margin-bottom: 10px;
    }

    .hentry h4,
    article h4{
        font-size: 18px;
        margin-top: 24px;
        margin-bottom: 10px;
    }

    .hentry h5,
    article h5{
        font-size: 16px;
        margin-top: 22px;
        margin-bottom: 10px;
    }

    .hentry h6,
    article h6{
        font-size: 14px;
        margin-top: 22px;
        margin-bottom: 10px;
    }

    /* BREADCRUMBS */
    .mythemes-page-header h1{
        font-size: 24px;
        line-height: 37px;
    }
}

/* BLOCKQUOTE */
section div.mythemes-page blockquote p,
section div.mythemes-page blockquote,
section article blockquote p,
section article blockquote{
    border: none;
    color: #666666;
    font-size: 14px;
    font-style: italic;
}

blockquote{
    background-color: rgba( 0,0,0, 0.02 );
    padding: 10px 15px 10px 55px;

}

blockquote:before,
blockquote::before{
    content: '\e888';

    font-family: "fontello";
    font-style: normal;
    font-weight: normal;

    font-size: 22px;

    speak: none;

    float: left;

    margin: 4px 0px 0px -40px;
 
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;


}
section div.mythemes-page blockquote p,
article blockquote p{
    background: none;
    padding: 0px;
}
section div.mythemes-page p:first-child,
article blockquote p:first-child{
    margin-top: 0px;
}
.hentry blockquote p:last-child,
article blockquote p:last-child{
    margin-bottom: 0px;
}

/* PAGE */
section div.mythemes-page > h1:first-child,
section div.mythemes-page > h2:first-child,
section div.mythemes-page > h3:first-child,
section div.mythemes-page > h4:first-child,
section div.mythemes-page > h5:first-child,
section div.mythemes-page > h6:first-child{
    margin-top: 0px;
}


/* LISTS */
.hentry ul,
.hentry ol,
article ul,
article ol{
    padding-left: 25px;
}

/* TABLE */
table{
    width: 100%;
    color: #666666;
}

table th{
    font-weight: bold;
    background-color: #f6f6f6;
    border: 1px solid #e9e9e9;
    min-height: 40px;
    padding: 7px;
}

table.align-head-center th{
    text-align: center;
}

table.align-center td,
table.align-center th{
    text-align: center;
}

table td{
    border: 1px solid #f0f0f0;
    text-align: left;
    min-height: 40px;
    padding: 6px;
}

table tr.odd td{
    
}

table tr.even td{
    background: #fafafa;
}

address{
    font-style: italic;
}
address,
abbr{
    color: #2d2d2d;
}
em{
    font-style: italic;
}
code{
    background: #ffffff;
    color: #666666;
}
pre{
    margin: 15px 0px;
    word-wrap: break-word;
    border: none;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;
}
hr{
    margin-top: 30px;
    margin-bottom: 30px;
}

div.mythemes-page hr{
    margin-top: 40px;
    margin-bottom: 40px;
    border: 0;
    border-top: 1px solid #dedede;
}