//There will be basic settings
html, body {
  font-family: 'Roboto', sans-serif;
  //    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// responsivity
body, html {
  font-size: 12px;
  @media (min-width: @screen-sm-max) {
    font-size: 16px;
  }
  @media (min-width: @screen-md-max) {
    font-size: 18px;
  }
  background-color: #2b2d2e;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

.image {
  img {
    display: block;
    margin: 0 auto;
  }
}
.container{
  color: #ffffff;

  header {
    display: block;
    text-transform: uppercase;
    margin-top: 2em;
    a{
      color: inherit;
      text-decoration: none;
      &:visited{
        color: inherit;
      }
    }
    h1 {
      font-size: 1em;
      margin: 0em 0 -1em 0;
    }
    .main-text{
      display: block;
      font-weight: 700;
      font-size: 3.5em;
      width: 100%;
      .red-dots{
        color: #ff0000;
      }
    }
    .company{
      margin: -1.4em 0 0 0;
      font-size: 0.55em;
      a{
        &:hover{
          color: #00965c;
        }
      }
    }
  }

  footer{
    margin-top: 2em;
  }

  .facebook{
    font-size: 2em;
    color: inherit;
    &:hover{
      color: #3b5998;
      text-decoration: none;
    }
  }

}

